.screen {
	border: 1px black solid;
	height: 200px;
	width: 300px;

	font-family: helvetica;
	font-size: 40px;
	text-align: right;
	word-wrap: break-word;
	overflow: auto;
}

.calculator {
	margin: 0 auto;
	width: 300px;
	border: 10px solid black;
	border-radius: 3px;
	padding: 3px;
}

button {
	background-color: #bebebe;
	border-radius: 7px;
	height: 50px;
	width: 50px;
	margin: 10px;
}

button:hover {
	background-color: #f0f0f0;
}